################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Bin
/Code/CAutoUpdater/obj/Debug
/Code/RDIFramework.BizLogic/obj/Debug
/Code/RDIFramework.Control/obj/Debug
/Code/RDIFramework.NET/obj/x86/Debug
/Code/RDIFramework.WorkFlow/obj/x86/Debug
/Code/RDIFramework.WinService/obj/x86/Debug
/Code/RDIFramework.WinModule/obj/x86/Debug
/Code/RDIFramework.WinForm.Utilities/obj/x86/Debug
/Code/RDIFramework.WebApp/Bin
/Code/RDIFramework.WCFService/Bin
/Code/RDIFramework.Utilities/obj/Debug
/Code/RDIFramework.Test/obj/x86/Debug
/Code/RDIFramework.WCFService/obj/Debug
/Code/RDIFramework.WebCommon/obj/Debug
/Code/RDIFramework.WebApp/obj/Debug
/Code/RDIFramework.ChangeIcon/bin/Debug
/Code/RDIFramework.ChangeIcon/obj/Debug
/Code/CRM/obj/x86/Debug
/Code/CAutoupdaterServerConfig/obj/x86/Debug
/Code/RDIFramework.CodeMaker/obj/x86/Debug
/Code/RDIFramework.MiniBrowser/obj/Debug
/Code/RDIFramework.ServiceHost/obj/x86/Debug
/Code/RDIFramework.ServiceClient/obj/Debug
/Code/.vs
