<?xml version="1.0"?>
<!--
  RDIFramework.NET SOA客户端端WCF参考配置-对应“RDIFramework.ServiceHost-WinForm形式宿主程序”或“RDIFramework.WinService-Windows服务形式宿主程序”项目以IIS服务模式启动
-->
<configuration>
  <appSettings>
    <add key="WebHostUrl" value="http://127.0.0.1:8096/"/>
    <add key="WebHostUrl1" value="http://localhost:8096/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ExceptionService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IExceptionService" name="RDIFramework.BizLogic.ExceptionService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemDetailsService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IItemDetailsService" name="RDIFramework.BizLogic.ItemDetailsService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemsService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IItemsService" name="RDIFramework.BizLogic.ItemsService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogOnService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ILogOnService" name="RDIFramework.BizLogic.LogOnService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ILogService" name="RDIFramework.BizLogic.LogService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ModuleService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IModuleService" name="RDIFramework.BizLogic.ModuleService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/OrganizeService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IOrganizeService" name="RDIFramework.BizLogic.OrganizeService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionItemService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionItemService" name="RDIFramework.BizLogic.PermissionItemService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionService" name="RDIFramework.BizLogic.PermissionService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RoleService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IRoleService" name="RDIFramework.BizLogic.RoleService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/SequenceService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ISequenceService" name="RDIFramework.BizLogic.SequenceService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/UserService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IUserService" name="RDIFramework.BizLogic.UserService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/IServiceDBProviderService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService" name="RDIFramework.BizLogic.IServiceDBProviderService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RDIFrameworkDBProviderService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService" name="RDIFramework.BizLogic.RDIFrameworkDBProviderService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/TableColumnsService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ITableColumnsService" name="RDIFramework.BizLogic.TableColumnsService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FileService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IFileService" name="RDIFramework.BizLogic.FileService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FolderService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IFolderService" name="RDIFramework.BizLogic.FolderService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ParameterService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IParameterService" name="RDIFramework.BizLogic.ParameterService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/DbLinkDefineService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDbLinkDefineService" name="RDIFramework.BizLogic.DbLinkDefineService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PlatFormAddInService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPlatFormAddInService" name="RDIFramework.BizLogic.PlatFormAddInService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/StaffService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IStaffService" name="RDIFramework.BizLogic.StaffService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/MessageService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IMessageService" name="RDIFramework.BizLogic.MessageService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/QueryEngineService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IQueryEngineService" name="RDIFramework.BizLogic.QueryEngineService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      
      <!--工作流相关-->
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowInstanceService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowInstanceService" name="RDIFramework.BizLogic.WorkFlowInstanceService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowHelperService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowHelperService" name="RDIFramework.BizLogic.WorkFlowHelperService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowTemplateService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowTemplateService" name="RDIFramework.BizLogic.WorkFlowTemplateService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowUserControlService/" behaviorConfiguration="RDIFrameworkBehaviorCofig" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowUserControlService" name="RDIFramework.BizLogic.WorkFlowUserControlService">
        <identity>
          <dns value="127.0.0.1"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RDIFrameworkBehaviorCofig">
          <!-- 使用x509憑證時才使用 
          <clientCredentials>
            <clientCertificate findValue="127.0.0.1" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
          -->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingSmiple" openTimeout="00:02:00" receiveTimeout="00:09:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
