<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- ==================数据库连接相关配置 ================== -->
    <!-- RDIFramework.NET框架数据库类型（SqlServer,Oracle）-->
    <add key="RDIFrameworkDbType" value="SqlServer"/>
    <!-- 业务逻辑数据库类型（SqlServer,Oracle）-->
    <add key="BusinessDbType" value="SqlServer"/>
    <!-- 工作流数据库类型（SqlServer,Oracle）-->
    <add key="WorkFlowDbType" value="SqlServer"/>
    <!-- 是否加密存储数据库连接字符串-->
    <add key="EncryptDbConnection" value="false"/>
    <!--SQLSERVER参考配置-->
    <!-- .RDIFramework.NET框架数据库连接字符串-->
    <add key="RDIFrameworkDbConection" value="Data Source=YONGHU\SQLINSTANCE;Initial Catalog=RDIFrameworkV3.0;uid=sa;password=qaz"/>
    <!-- 业务数据库连接字符串-->
    <add key="BusinessDbConnection" value="Data Source=YONGHU\SQLINSTANCE;Initial Catalog=RDIFrameworkV3.0;uid=sa;password=qaz"/>
    <!-- 工作流数据库连接字符串-->
    <add key="WorkFlowDbConnection" value="Data Source=YONGHU\SQLINSTANCE;Initial Catalog=RDIFrameworkWFV3.0;uid=sa;password=qaz"/>
    <!--ORACLE参考配置-->
    <!-- .RDIFramework.NET框架数据库连接字符串-->
    <!--<add key="RDIFrameworkDbConection" value="Data Source=orcl;User Id=RDIFRAMEWORK28;Password=qaz;"/>-->
    <!-- 业务数据库连接字符串-->
    <!--<add key="BusinessDbConnection" value="Data Source=orcl;User Id=RDIFRAMEWORK28;Password=qaz;"/>-->
    <!-- 工作流数据库连接字符串-->
    <!--<add key="WorkFlowDbConnection" value="Data Source=orcl;User Id=RDIFRAMEWORK28;Password=qaz;" />-->
    <!-- 公司名称 -->
    <add key="CustomerCompanyName" value="柯锐特软件"/>
    <!-- 软件名称 -->
    <add key="SoftName" value="RDIFramework.NET V3.0"/>
    <!-- 软件全称 -->
    <add key="SoftFullName" value="RDIFramework.NET ━ .NET快速信息化系统开发框架"/>
    <!-- 软件版本 -->
    <add key="Version" value="V3.0"/>
    <!-- 远程调用服务的用户名 -->
    <add key="ServiceUserName" value="RDIFramework.NET"/>
    <!-- 远程调用服务的密码 -->
    <add key="ServicePassword" value="ojaS0yGinUa7D4/lBfKb8IM8DeYTJu18ohIj57Msbc8="/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RDIFramework.BizLogic.LogOnService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.ILogOnService"/>
      </service>
      <service name="RDIFramework.BizLogic.RDIFrameworkDBProviderService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService"/>
      </service>
      <service name="RDIFramework.BizLogic.BusinessDBProviderService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService"/>
      </service>
      <service name="RDIFramework.BizLogic.ExceptionService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IExceptionService"/>
      </service>
      <service name="RDIFramework.BizLogic.ItemDetailsService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IItemDetailsService"/>
      </service>
      <service name="RDIFramework.BizLogic.ItemsService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IItemsService"/>
      </service>
      <service name="RDIFramework.BizLogic.LogService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.ILogService"/>
      </service>
      <service name="RDIFramework.BizLogic.ModuleService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IModuleService"/>
      </service>
      <service name="RDIFramework.BizLogic.OrganizeService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IOrganizeService"/>
      </service>
      <service name="RDIFramework.BizLogic.PermissionItemService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionItemService"/>
      </service>
      <service name="RDIFramework.BizLogic.RoleService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IRoleService"/>
      </service>
      <service name="RDIFramework.BizLogic.SequenceService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.ISequenceService"/>
      </service>
      <service name="RDIFramework.BizLogic.UserService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IUserService"/>
      </service>
      <service name="RDIFramework.BizLogic.TableColumnsService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.ITableColumnsService"/>
      </service>
      <service name="RDIFramework.BizLogic.FileService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IFileService"/>
      </service>
      <service name="RDIFramework.BizLogic.FolderService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IFolderService"/>
      </service>
      <service name="RDIFramework.BizLogic.ParameterService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IParameterService"/>
      </service>
      <service name="RDIFramework.BizLogic.DbLinkDefineService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IDbLinkDefineService"/>
      </service>
      <service name="RDIFramework.BizLogic.PlatFormAddInService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IPlatFormAddInService"/>
      </service>
      <service name="RDIFramework.BizLogic.StaffService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IStaffService"/>
      </service>
      <service name="RDIFramework.BizLogic.MessageService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IMessageService"/>
      </service>
      <service name="RDIFramework.BizLogic.PermissionService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionService"/>
      </service>
      <service name="RDIFramework.BizLogic.QueryEngineService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IQueryEngineService"/>
      </service>
      <!--工作流相关-->
      <service name="RDIFramework.BizLogic.WorkFlowInstanceService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowInstanceService"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowHelperService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowHelperService"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowTemplateService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowTemplateService"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowUserControlService" behaviorConfiguration="Internet">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowUserControlService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Internet">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingSmiple" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>