<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
    <services>      
      <service name="RDIFramework.BizLogic.RDIFrameworkDBProviderService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RDIFrameworkDBProviderService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RDIFrameworkDBProviderService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.BusinessDBProviderService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/BusinessDBProviderService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDBProviderService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/BusinessDBProviderService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.ExceptionService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ExceptionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IExceptionService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ExceptionService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.ItemDetailsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemDetailsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IItemDetailsService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemDetailsService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.ItemsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IItemsService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ItemsService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.LogOnService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogOnService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ILogOnService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogOnService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.LogService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ILogService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/LogService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.ModuleService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ModuleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IModuleService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ModuleService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.OrganizeService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/OrganizeService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IOrganizeService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/OrganizeService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.PermissionItemService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionItemService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionItemService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionItemService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.PermissionService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPermissionService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PermissionService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.RoleService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RoleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IRoleService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/RoleService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.SequenceService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/SequenceService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ISequenceService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/SequenceService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.UserService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/UserService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IUserService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/UserService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>      
      <service name="RDIFramework.BizLogic.TableColumnsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/TableColumnsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.ITableColumnsService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/TableColumnsService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.FileService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FileService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IFileService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FileService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.FolderService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FolderService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IFolderService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/FolderService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.ParameterService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ParameterService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IParameterService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/ParameterService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.DbLinkDefineService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/DbLinkDefineService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IDbLinkDefineService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/DbLinkDefineService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.PlatFormAddInService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PlatFormAddInService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IPlatFormAddInService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/PlatFormAddInService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.StaffService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/StaffService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IStaffService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/StaffService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.MessageService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/MessageService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IMessageService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/MessageService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.QueryEngineService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/QueryEngineService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IQueryEngineService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/QueryEngineService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <!--工作流相关-->
      <service name="RDIFramework.BizLogic.WorkFlowInstanceService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowInstanceService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowInstanceService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowInstanceService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowHelperService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowHelperService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowHelperService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowHelperService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowTemplateService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowTemplateService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowTemplateService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowTemplateService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDIFramework.BizLogic.WorkFlowUserControlService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowUserControlService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="RDIFramework.BizLogic.IWorkFlowUserControlService"/>
        <endpoint address="net.tcp://127.0.0.1:8888/RDIFramework.BizLogic/WorkFlowUserControlService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Internet">
          <serviceMetadata httpGetEnabled="False" />
          <serviceCredentials>
            <!-- x509憑證製作            
            makecert -r -pe -n "CN=EricHu-PC" -ss My -sky exchange
            makecert -sr LocalMachine -ss My -n CN=EricHu-PC -sky exchange -pe            
            makecert.exe -sr LocalMachine -ss My -a sha1 -n CN=EricHu-PC -sky exchange –pe
            
            makecert -r -pe -n "CN=220.133.57.144" -ss My -sky exchange
            makecert -sr LocalMachine -ss My -n CN=ArnoWCF -sky exchange -pe            
            makecert.exe -sr LocalMachine -ss My -a sha1 -n CN=ArnoWCF -sky exchange –pe
            
            <serviceCertificate storeName="My" storeLocation="CurrentUser" x509FindType="FindBySubjectName" findValue="128.1.241.11" />
            <clientCertificate >
              <authentication certificateValidationMode="None"  />
            </clientCertificate >
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="RDIFramework.ServiceHost.UserNamePasswordValidator,RDIFramework.ServiceHost"    />
            -->
          </serviceCredentials>
          <!--
					<serviceMetadata httpGetEnabled="False" />
          -->
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="10" maxConcurrentSessions="26"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingSmiple" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          
          <!-- 无任何加密模式-->
          <security mode="None">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
          <!-- 安全认证模式：Message，客戶端驗證類型：憑證
          <security mode="Message" >
            <message clientCredentialType="Certificate" />
          </security >
          -->
          <!-- 安全認證模式：Transport，客戶端驗證類型：憑證
          <security mode="Transport" >
            <transport clientCredentialType="Certificate" />
          </security >
          -->
          <!-- 安全認證模式：Message，客戶端驗證類型：用户密碼認證
          <security mode="Message" >
            <message clientCredentialType="UserName" />
          </security >
          -->
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
